# Assignment 1

**Deadline**:  09/09/2019, 9.59am

**Names and student numbers:**
1. Philip Lankhorst (student number)
2. Carmella Bierma
3. Milena van der Velde (11016647)

**Declaration of Originality**

We whose names are given under 1., 2. and 3. above declare that:
1. These solutions are solely our own work.
2. We have not made (part of) these solutions available to any other student.

## Instructions for completing and submitting the assignment
Please pay attention to the following instructions:
1. Please follow carefully the steps outlined in the assignment. If you cannot solve an exercise and this hinders continuing with subsequent exercises, try to find a way to work around it and give a clear explanation for the solution you have chosen.
2. Submit your work in the form of a Jupyter notebook via Canvas, before the deadline. Your notebook should not give errors when executed with `Run All`.
4. You are allowed to work on the assignment in groups of 2 or 3 students and to submit together. Before you submit, you and your team members have to register as an **Assignment group** on Canvas. Only a single member of each group has to submit the notebook. Please do **NOT** submit the same notebook multiple times!
5. Please write your names also inside this markdown cell, under **Names and student numbers**.

## Part 0: importing the relevant libraries

**Exercise 1:** import all the libraries you are using in this notebook.

In [4]:
import numpy as np
import pandas as pd

## Part 1: using the Python Standard Library

**Exercise 2:** write a function called `sort_words`. The function should have a single argument, which is always a string of words separated by spaces. For example, `sample` in the cell below is such a string. The function should return another string containing the same words separated by spaces, but now the words must be ordered alphabetically by their first letter.

In [5]:
sample = "coding what? fun are exercises or"
def sort_words(words):
    """Sort words in alphabetic order for a given string"""
    
    sortedwords = words.split()
    sortedwords.sort()
    return sortedwords

print(sort_words(sample))

['are', 'coding', 'exercises', 'fun', 'or', 'what?']

**Exercise 3:** below you find three cells. In the first cell three NumPy objects (`v`, `u` and `A`) are defined, depending on an integer parameter `n`. In the second cell, these objects are used to compute a quantity that you might know from your linear algebra course. In this exercise, you have to perform two tasks:
* in the third cell, compute the quantity of the second cell again, but now without the use of any (for) loops. Print the result to verify that your code indeed computes the same quantity.
* use Python's `time` module to measure the time the computations in the second and third cell take, separately. Notice that if you increase `n` (to for example 2000), the relative difference in computational efficiency grows rapidly.

[NB: When your run a vectorized computation for the first time, Python loads some additional libraries in the background. This takes additional time. Therefore, you have to run the vectorized computation (at least) twice to get a good estimate of the computational time.]

In [23]:
n = 100
v = np.random.normal(size=n)
u = np.random.normal(size=n)
A = np.random.normal(size=(n,n))

In [26]:
result = 0
for i in range(len(v)):
    for j in range(len(u)):
        result += v[i]*A[i,j]*u[j]
        
print(result)

195.260283726801

In [27]:
print(sum(v.dot(A)*u))

195.2602837267999

## Part 2: wrangling and analyzing Twitter sentiment data
This part of the assignment is about wrangling and analyzing Twitter sentiment data for six airline companies:

|**Name Airline**|**@username**|
|:-------|:-------------|
|American Airlines       |@AmericanAir           |
|JetBlue Airways        |@JetBlue              |
|Southwest Airlines       |@SouthwestAir           |
|United Airlines        |@united              |
|US Airways        |@USAirways              |
|Virgin America       |@VirginAmerica             |

The dataset `airline_twitter_sentiment.csv` consists of more than 14.000 tweets sent on 9 consecutive days in February 2015, all addressing one (or more) of the aforementioned airlines via the @username syntax. The text of the tweets can be found in the `text` column of the dataset. Furthermore, a machine learning algorithm has analyzed the content of the tweets and categorized the sentiment as positive, neutral or negative. This can be found in the `airline_sentiment` column. The machine learning algorithm also estimates the probability that it identified the correct sentiment, which is given in the `airline_sentiment:confidence` column. Another relevant column is called `tweet_created`, giving the time and day at which the tweet was sent.

(Note: US Airways was integrated into American Airlines in October 2015. Since our dataset is from February 2015, we will consider them as separate airlines.)

**Exercise 4:** import the dataset `airline_twitter_sentiment.csv` and turn it into a DataFrame called `df`. Print the total number of tweets in the dataset.

In [35]:
df = pd.read_csv('airline_twitter_sentiment.csv')
print(len(df))

14694

**Exercise 5:** print the first 10 rows of the DataFrame `df`.

In [36]:
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448223,False,finalized,3,2/25/15 1:57,negative,1.0,Customer Service Issue,1.0000,NaN,Cuschoolie1,NaN,0,"@VirginAmerica help, left expensive headphones...","[33.94209449, -118.40410103]",2/23/15 21:10,5.700880e+17,Washington DC,Quito
1,681452067,False,finalized,3,2/25/15 0:41,negative,1.0,Flight Booking Problems,0.6939,NaN,MERBARAT,NaN,0,@united very exasperating I'm having a difficu...,"[41.86591215, -87.6231126]",2/20/15 21:36,5.690080e+17,"Chicago, IL",Central Time (US & Canada)
2,681451479,False,finalized,3,2/25/15 4:43,neutral,1.0,NaN,NaN,NaN,CoachMcRoberts,NaN,0,@united Can you help me get a flight out tonig...,NaN,2/21/15 16:58,5.693000e+17,"Oxford, MS",NaN
3,681456798,False,finalized,3,2/25/15 3:27,negative,1.0,Flight Booking Problems,1.0000,NaN,4starcashier,NaN,0,"@SouthwestAir 4/9/14, I need to fly from GSP t...",NaN,2/17/15 12:37,5.677850e+17,"Des Moines, Iowa",Central Time (US & Canada)
4,681461929,False,finalized,3,2/25/15 3:50,negative,1.0,Damaged Luggage,0.6663,NaN,WTFloris,NaN,0,"@USAirways Oh yes, because I had loads of time...",NaN,2/21/15 1:54,5.690730e+17,Raxacoricofallapatorius,Amsterdam

**Exercise 6:** create a list of the names of the columns of the DataFrame `df`.

In [43]:
column_list = [column for column in df.columns]

**Exercise 7:** during the creation of the dataset some lines/rows were duplicated. Remove them from `df`, such that the DataFrame `df` does not contain any duplicates anymore. Count the total number of duplicates and print this number in a nice sentence that explains the meaning of the number.

In [50]:
print('The amount of dupiclates in the data are',len(df) - len(df.drop_duplicates()))
df = df.drop_duplicates()

The amount of dupiclates in the data are 54

**Exercise 8:** the machine learning algorithm is not always able to extract a sentiment from the tweet. This is reflected in a missing `airline_sentiment` value. Remove the lines with a missing airline sentiment from the `df`. As in the previous exercise, report the number of discarded values.

14640

**Exercise 9:** the column `airline_sentiment:confidence` represents the probability that the machine learning algorithm predicted the correct sentiment. Remove the lines from `df` with an airline-sentiment confidence below 0.50. Report the number of discarded tweets.

**Exercise 10:** the columns `text` contains the text of the tweets. Remove the lines from `df` with tweets containing less than 50 characters. Report the number of discarded tweets.

**Exercise 11:** print a frequency table for the total number of positive, neutral and negative tweets in the DataFrame `df`.

**Exercise 12:** show that the elements of the column `tweet_created` are of string (`str`) type. [Hint: it is enough if you show this for only one element of the column, for example by using `.at[...]` to access the values of a DataFrame.]

**Exercise 13:** using strings to specify a day and time is often inconvenient. One way of resolving this issue is by using a Timestamp object, which is part of the pandas library. Turn the elements of the column `tweet_created` into Timestamp objects. This means that the column `tweet_created` of the resulting DataFrame `df` has to contain these Timestamp objects, instead of strings. [Hint: see section 11.1 of the McKinney book.]

**Exercise 14:** turn the column `tweet_created` into the index of the DataFrame `df`. Finally, print the first 5 rows of the resulting DataFrame `df`.

**Exercise 15:** sort the rows in the DataFrame by the time the tweet was created. The tweet that was created first, should be on top of the DataFrame. Print the first 5 rows of the resulting DataFrame `df` again.

**Exercise 16:** check explicitly whether all tweets have a unique index. [Hint: see section 11.2 of the McKinney book.]

**Exercise 17:** all tweets in our dataset were sent on 9 consecutive days in February 2015. Add a new column called `day` to the DataFrame `df`. The elements of this column should represent the day of the month on which the tweet was created (e.g. `19` for a tweet created on 19 February 2015). For this exercise, use that the index of `df` that you created is not of a standard Index type, by of DatetimeIndex type, which has a `day` attribute.

**Exercise 18:** print a frequency table for the total number of tweets per day. Sort the table by day, starting with the earliest day.